@font-face {
    font-family: 'ChosunGs';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Holiday-in-Rome';
    src: url(../font/로마의휴일\ .eot);
    src: url(../font/로마의휴일\ .woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}
